<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Alert </title>
    <link href="/style.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="logo">
            <ul class="logo-ul">
                <li><a href="/index.html">HOVER</a></li>
                <li><span>v1.0</span></li>
            </ul>
        </nav>
        <nav class="menu">

            <ul class="menu-ul ul-main">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/badge.html">Docs</a></li>
                <li><a href="">Download</a></li>
                <li><a href="">Github</a></li>
            </ul>


        </nav>
    </header>
    <div class="main">
        <aside>
            <ul>

                <li><a class="ul-main" href="/get_started/introduction.html">Get Started</a></li>
                <div class="divider"></div>
                <li><a href="/get_started/introduction.html">Introduction</a></li>
                <li><a href="/get_started/typography.html">Typography</a></li>
                <li><a class="ul-main" href="">Components</a></li>
                <div class="divider"></div>
                <li><a href="/components/badge.html">Badge</a></li>
                <li><a href="/components/avatar.html">Avatar</a></li>
                <li><a href="/components/alert.html">Alert</a></li>

                <li><a href="/components/button.html">Button</a></li>
                <li><a href="/components/card.html">Card</a></li>
                <li><a href="/components/Image.html">Image</a></li>
                <li><a href="/components/Input.html">Input</a></li>
                <li><a href="/components/List.html">List</a></li>
                <li><a href="/components/Toast.html">Toast</a></li>

            </ul>
        </aside>
        <article>
            <div class="section">
                <h1> Alert</h1>
                <p>Alerts are available for any length of text, as well as an optional close button.</p>
                <div class="divider"></div>
                <div class="show">
                    <h3 class="mer">Error Alert</h3>
                    <div class="alert al-error">
                        <i class="fa fa-exclamation-circle padd" aria-hidden="true"></i>
                        <span class="message"> This is an error alert — check it out!</span>
                        <i class="fa fa-times pad " aria-hidden="true"></i>
                    </div>
                    <div><img class="carbon-img mer" src="/carbon/carbon (5).png" alt=""></div>

                </div>

                <div class="show">
                    <h3 class="mer">Success Alert</h3>
                    <div class="alert al-success">
                        <i class="fa fa-check pad" aria-hidden="true"></i>
                        <span class="message"> This is an success alert — check it out!</span>
                        <i class="fa fa-times pad" aria-hidden="true"></i>
                    </div>
                    <div><img class="carbon-img mer" src="/carbon/carbon (6).png" alt=""></div>

                </div>

                <div class="show">
                    <h3 class="mer">Warning Alert</h3>
                    <div class="alert al-warning">
                        <i class="fa fa-exclamation-triangle pad" aria-hidden="true"></i>
                        <span class="message"> This is an warning alert — check it out</span>
                        <i class="fa fa-times pad" aria-hidden="true"></i>
                    </div>
                    <div><img class="carbon-img mer" src="/carbon/carbon (7).png" alt=""></div>
                </div>

                <div class="show">
                    <h3 class="mer">Information Alert</h3>
                    <div class="alert al-info">
                        <i class="fa fa-info-circle pad" aria-hidden="true"></i>
                        <span class="message"> This is an info alert — check it out!</span>
                        <i class="fa fa-times pad" aria-hidden="true"></i>
                    </div>
                    <div><img class="carbon-img mer" src="/carbon/carbon (8).png" alt=""></div>
                </div>

            </div>
        </article>
    </div>
</body>

</html>