<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>card </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="/style.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="logo">
            <ul class="logo-ul">
                <li><a href="/index.html">HOVER</a></li>
                <li><span>v1.0</span></li>
            </ul>
        </nav>
        <nav class="menu">

            <ul class="menu-ul ul-main">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/badge.html">Docs</a></li>
                <li><a href="">Download</a></li>
                <li><a href="">Github</a></li>
            </ul>


        </nav>
    </header>
    <div class="main">
        <aside>
            <ul>

                <li><a class="ul-main" href="/get_started/introduction.html">Get Started</a></li>
                <div class="divider"></div>
                <li><a href="/get_started/introduction.html">Introduction</a></li>
                <li><a href="/get_started/typography.html">Typography</a></li>
                <li><a class="ul-main" href="">Components</a></li>
                <div class="divider"></div>
                <li><a href="/components/badge.html">Badge</a></li>
                <li><a href="/components/avatar.html">Avatar</a></li>
                <li><a href="/components/alert.html">Alert</a></li>

                <li><a href="/components/button.html">Button</a></li>
                <li><a href="/components/card.html">Card</a></li>
                <li><a href="/components/Image.html">Image</a></li>
                <li><a href="/components/Input.html">Input</a></li>
                <li><a href="/components/List.html">List</a></li>
                <li><a href="/components/Toast.html">Toast</a></li>

            </ul>
        </aside>
        <article>
            <div class="section">
                <h1>Card</h1>
                <p>
                    A card is a flexible and extensible content container. It includes options for headers and footers,
                    a wide variety of content,
                    contextual background colors, and powerful display options.
                </p>
                <div class="divider"></div>
                <div class="show ">
                    <h1 class="mer">Simple Card</h1>


                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <h1>React</h1>
                            </div>
                            <div class="card-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illo dolores
                                    voluptatum
                                    molestiae voluptate suscipit debitis nam qui beatae tenetur.

                                </p>

                            </div>
                            <a href="" class="btn-card">Read more</a>
                        </div>

                    </div>
                    <img class="carbon-img" src="/carbon/carbon (15).png" alt="">
                </div>




                <div class="show ">
                    <h1 class="mer">Image Card</h1>

                    <div class="row">
                        <div class="card">
                            <img class="card-image" src="/images/avatar2.jpg" alt="" />
                            <div class="card-header1">
                                <h1>React</h1>
                            </div>
                            <div class="card-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illo dolores
                                    voluptatum
                                    molestiae voluptate suscipit debitis nam qui beatae tenetur.

                                </p>
                            </div>
                        </div>

                    </div>
                    <img class="carbon-img" src="/carbon/carbon (16).png" alt="">
                </div>



                <div class="show ">
                    <h1 class="mer">Social Media Card</h1>


                    <div class="row">
                        <div class="card">
                            <div class="profile">
                                <img class="avatar_size" src="/images/avatar2.jpg" alt="">
                                <div class="profile-header">Jimin Anderson</div>
                            </div>
                            <img class="card-image" src="/images/social_media.jpg" alt="" />

                            <div class="card-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illo dolores
                                    voluptatum
                                    molestiae voluptate suscipit debitis nam qui beatae tenetur.

                                </p>
                            </div>
                        </div>

                    </div>
                    <img class="carbon-img" src="/carbon/carbon (17).png" alt="">

                </div>


                <div class="show ">
                    <h1 class="mer">eCommerce Card</h1>
                    <div class="row">
                        <div class="card">
                            <img class="card-image" src="/images/ecommerce.jpg" alt="" />
                            <div class="card-header1">
                                VERO MODA
                            </div>
                            <div class="card-body pad">
                                <div>Women's A-Line Midi Dress</div>
                                <div class="card-price">
                                    <span class="current_price">Rs. 2500</span>
                                    <span class="old_Price">RS. 5000</span>
                                    <span class="discount">(50% off)</span>
                                </div>
                                <div class="card-footer mer">
                                    <div>
                                        <button class="primary_btn card-button">Add To Cart</button>
                                        <span class="material-icons-outlined"></span>
                                    </div>
                                    <div class="heart"><a href=""><i class="far fa-heart"></i></a> </div>

                                </div>


                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </article>
    </div>
</body>

</html>