<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>toast </title>
    <link href="/style.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="logo">
            <ul class="logo-ul">
                <li><a href="/index.html">HOVER</a></li>
                <li><span>v1.0</span></li>
            </ul>
        </nav>
        <nav class="menu">

            <ul class="menu-ul ul-main">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/badge.html">Docs</a></li>
                <li><a href="">Download</a></li>
                <li><a href="">Github</a></li>
            </ul>


        </nav>
    </header>
    <div class="main">
        <aside>
            <ul>

                <li><a class="ul-main" href="/get_started/introduction.html">Get Started</a></li>
                <div class="divider"></div>
                <li><a href="/get_started/introduction.html">Introduction</a></li>
                <li><a href="/get_started/typography.html">Typography</a></li>
                <li><a class="ul-main" href="">Components</a></li>
                <div class="divider"></div>
                <li><a href="/components/badge.html">Badge</a></li>
                <li><a href="/components/avatar.html">Avatar</a></li>
                <li><a href="/components/alert.html">Alert</a></li>
                
                <li><a href="/components/button.html">Button</a></li>
                <li><a href="/components/card.html">Card</a></li>
                <li><a href="/components/Image.html">Image</a></li>
                <li><a href="/components/Input.html">Input</a></li>
                <li><a href="/components/List.html">List</a></li>
                <li><a href="/components/Toast.html">Toast</a></li>

            </ul>
        </aside>
        <article>
            <div class="section">
                <h1>Responsive Image</h1>
                <p>Responsive Image Components are used to dsiplay Images on websites,
                    which are screen responsive. They expand upto the width of the container they are in.</p>
                <div class="divider"></div>
                <div class="show ">
                    <h3 class="pad">Round Image</h3>
                    <div class="image_avatar">

                        <img class="image-round" src="/images/avatar2.jpg " alt="">
                        <img class="image-round" src="/images/avatar2.jpg " alt="">
                        <img class="image-round" src="/images/avatar2.jpg " alt="">
                    </div>
                    <div><img class="carbon-img1" src="/carbon/carbon (2).png" alt=""></div>
                


                    <h3 class="pad">Square Image</h3>
                    <div class="image_avatar">
                        <img class="image_square " src="/images/avatar2.jpg " alt="">
                        <img class="image_square " src="/images/avatar2.jpg " alt="">
                        <img class="image_square " src="/images/avatar2.jpg " alt="">
                    </div>
                    <div><img class="carbon-img1" src="/carbon/carbon (2).png" alt=""></div>
                </div>

        </article>
    </div>
</body>

</html>